<footer>
  <p>This is a footer. Stuff will go in here later.</p>
  <small>
    <p>Alex Jegtnes is the trading name of Jegtnes Ltd, a registered company in England and Wales with company number 10390270.</p>
  </small>
</footer>