<footer class="container">
  <p>&copy; 2023 Alex Jegtnes. Find me elsewhere on the internet at:</p>
  <nav>
    <ul>
      <li><a href="//indieweb.social/@jegtnes">Mastodon</a>,</li>
      <li><a href="//twitter.com/jegtnes">Twitter</a>,</li>
      <li><a href="//instagram.com/alexjegtnes">Instagram</a>,</li>
      <li><a href="mailto:alex@jegtnes.com">or email me like it's 1999 ✨</a></li>
    </ul>
  </nav>
</footer>