<footer class="container">
  <section>
    <p>&copy; 2023 Alex Jegtnes. Find me elsewhere on the internet at:</p>
    <nav>
      <ul>
        <li><a href="//indieweb.social/@jegtnes">Mastodon</a></li>
        <li><a href="//twitter.com/jegtnes">Twitter</a></li>
        <li><a href="//instagram.com/alexjegtnes">Instagram</a></li>
        <li><a href="mailto:alex@jegtnes.com">alex＠jegtnes.com</a></li>
      </ul>
    </nav>
  <p>
    <small>
      Alex Jegtnes is a trading name of Jegtnes Ltd, a registered company in England and Wales with company number 10390270.
    </small>
  </p>
</footer>