{% set anchorClass %}main-nav__link {% activeSection item.url, page.url %}{% endset %}

<header class="site-header">
  <nav>
    <ul class="main-nav">
      {% for item in nav.items %}
        <li class="main-nav__item">
          <a
            href={{item.url}}
            class={{ anchorClass }}
            {% ariaCurrent item.url, page.url %}
          >
            {{item.label}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>