.full-width-bar {
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 9999em;
    left: -4999.5em;
    top: 0;
    bottom: 0;
  }
}
