.jegtnes-header {
  @media (min-width: 30em) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &::before {
    background-color: $black;
  }
}

.jegtnes-header__logo {
  font-size: 2rem;
  vertical-align: middle;
  display: block;
  margin-bottom: .25rem;

  @media (min-width: 30em) {
    flex: 1 0 auto;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

.jegtnes-header__nav {
  font-size: 1.25rem;

  @media (min-width: 30em) {
    flex: 1 0 auto;
    text-align: right;
    font-size: 1.5rem;
  }
}
