last 5 firefox versions,
last 5 firefoxandroid versions,
last 5 chrome versions,
last 5 chromeandroid versions,
last 5 edge versions,
last 5 opera versions,
last 3 safari major versions,
last 3 ios major versions,
last 2 samsung major versions,
not dead