<script>
var disqus_config = function () {
    this.page.url = window.document.URL;
    this.page.identifier = window.document.URL
      .replace(/https?:\/\/(jegtnes.co(m|uk)|localhost:3000)\/blog\//, '')
      .slice(0, -1);
};
</script>
<p>
  <div id="disqus_thread"></div>
</p>
