<footer class="cf mw8 center">
  <section class="fl w-100 w-60-ns pa3">
    <h2>Oh hi!</h2>
    <p>You've stumbled across the website of Alex <span class="bdb b--silver" title="/yehk-tnes/ (It's Norwegian. Yes, it's weird. ðŸ’ I won't blame you for mispronouncing it!)">Jegtnes</span>, a full-stack web developer in Bristol, UK.</p>
    <p>Currently, I'm <a href="//static.jegtnes.co.uk/hello">looking for short-term contract work or a permanent position</a> from September onwards. Are you a distributed organisation or in Bristol? <a href="/contact">Get in touch!</a></p>
  </section>
  <section class="fl w-100 w-40-ns pa3">
    <h2>Contact</h2>
    <ul>
      <li><a href="mailto:alex@jegtnes.co.uk">alex@jegtnes.co.uk</a></li>
      <li><a href="https://twitter.com/jegtnes">@jegtnes on Twitter</a></li>
      <li><a href="https://github.com/jegtnes">jegtnes on GitHub</a></li>
    </ul>
  </section>
  <section class="fl w-100 w-60-ns pa3">
    <h2>Colophon</h2>
    <p>This site is typeset in Alegreya and Alegreya Sans by <a href="http://www.huertatipografica.com/en">Huerta Tipografica.</a> <a href="https://github.com/jegtnes/jegtnes-static">The source code is available to view on GitHub.</a> I owe my deepest gratitude to these excellent open-source tools:</p>
    <ul class="list csl pl0">
      <li><a href="http://www.metalsmith.io/">Metalsmith</a></li>
      <li><a href="http://gulpjs.com/">Gulp</a></li>
      <li><a href="http://tachyons.io">Tachyons</a></li>
      <li><a href="http://sass-lang.com/">Sass</a></li>
      <li><a href="https://www.browsersync.io/">Browsersync</a></li>
      <li><a href="https://babeljs.io/">Babel</a></li>
      <li><a href="https://github.com/jegtnes/jegtnes-static/blob/master/package.json">and many more ðŸ’˜</a>.</li>
    </ul>
  </section>
  <section class="fl w-100 w-40-ns pa3">
    <h2>Copyleft</h2>
    <p>
      Except where otherwise noted, all content on this site by
      <a xmlns:cc="http://creativecommons.org/ns#" href="http://jegtnes.co.uk" property="cc:attributionName" rel="cc:attributionURL">Alex Jegtnes</a>
      is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        Creative Commons Attribution-ShareAlike 4.0 International License.
      </a>
    </p>
  </section>
</footer>
