<footer class="overflow-hidden" id="site-footer">
  <div class="mw7 pv4 ph3 center jegtnes-footer bg-jegtnes-black jegtnes-white full-width-bar">
    <section>
      <h2 class="mt0">Oh hi! âœ¨</h2>
      <p>
        You've stumbled across the website of Alex <span class="bdb b--silver" title="/yehk-tnes/ (It's Norwegian. Yes, it's weird. ðŸ’ I won't blame you for mispronouncing it!)">Jegtnes</span>, a freelance full-stack web developer in Vancouver, BC.
      </p>
      <p>
        I like making fast and accessible websites, webapps, pattern libraries and prototypes that solve real user problems.
      </p>
      {{!-- <p>
        I'm currently available for hire. Let's talk?
      </p> --}}
    </section>
    <section class="cf mt4">
      <h2 class="visuallyhidden">Contact</h2>
      <div class="fl">
        <a href="mailto:alex@jegtnes.com" class="ba br4 bw1 link link-inverse dib ph3 pv2">alex@jegtnes.com</a>
      </div>
      <div class="fr">
        <a href="https://twitter.com/jegtnes" class="dib mr2 mt1">
          <svg class="icon db link-inverse">
            <use xlink:href="/assets/images/sprite.svg#twitter" />
          </svg>
        </a>
        <a href="https://github.com/jegtnes" class="dib ml1">
          <svg class="icon db link-inverse">
            <use xlink:href="/assets/images/sprite.svg#github" />
          </svg>
        </a>
      </div>
    </section>
  </div>
</footer>
