<footer class="overflow-hidden">
  <div class="mw7 pa3 mt3 center jegtnes-footer bg-jegtnes-black jegtnes-white full-width-bar">
  <section>
    <h2>Oh hi!</h2>
    <p>
      You've stumbled across the website of Alex <span class="bdb b--silver" title="/yehk-tnes/ (It's Norwegian. Yes, it's weird. ðŸ’ I won't blame you for mispronouncing it!)">Jegtnes</span>, a freelance full-stack web developer in Bristol, UK.
    </p>
    <p>
      I like making fast and accessible websites, webapps, pattern libraries and prototypes that solve real user problems.
    </p>
    <p>
      I'm currently available for hire. Let's talk?
    </p>
  </section>
  <section>
    <a href="mailto:alex@jegtnes.co.uk" class="dib mr3">
      <svg class="icon db">
        <use xlink:href="/assets/images/sprite.svg#email" />
      </svg>
    </a>
    <a href="https://twitter.com/jegtnes" class="dib mr2">
      <svg class="icon db">
        <use xlink:href="/assets/images/sprite.svg#twitter" />
      </svg>
    </a>
    <a href="https://github.com/jegtnes" class="dib ml1">
      <svg class="icon db">
        <use xlink:href="/assets/images/sprite.svg#github" />
      </svg>
    </a>
  </section>
</footer>
