<!-- @TODO: Custom CSS for the header because it just needs more flexibility than three breakpoints -->
<header>
  <nav class="jegtnes-header">
    <a href="/" class="jegtnes-header__logo headline link no-visited">Alex Jegtnes</a>
    <div class="jegtnes-header__nav">
      <a class="jegtnes-header__nav__item headline no-visited link mr3" href="/blog">Blog</a>
      <a class="jegtnes-header__nav__item headline no-visited link mr3" href="/portfolio">Portfolio</a>
      <a class="jegtnes-header__nav__item headline no-visited link" href="/contact">Contact</a>
    </div>
  </nav>
</header>
