<header class="overflow-hidden">
  <nav class="jegtnes-header bg-jegtnes-black jegtnes-white full-width-bar pa3 mw7 center">
    <a href="/" class="jegtnes-header__logo headline link no-visited">Alex Jegtnes</a>
    <div class="jegtnes-header__nav">
      <a class="jegtnes-header__nav__item headline no-visited link mr3" href="/blog">Blog</a>
      <a class="jegtnes-header__nav__item headline no-visited link mr3" href="/portfolio">Portfolio</a>
    </div>
  </nav>
</header>
