<header>
  <nav class="w-100 dt f4">
    <a href="/" class="headline f3 mb1 link db dtc-ns w-100 w-25-ns">Alex Jegtnes</a>
    <div class="db dtc-ns w-100 w-75-ns tr-ns">
      <a class="link mr3" href="/blog">Blog</a>
      <a class="link mr3" href="/portfolio">Portfolio</a>
      <a class="link" href="/contact">Contact</a>
    </div>
  </nav>
</header>
