<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body class="w-100">

  <div class="pa3 mw7 center">
    {{>header}}

    <main>
      <h1>{{title}}</h1>
      <div class="measure lh-copy f4">
        {{{ contents }}}
      </div>
    </main>

    {{>footer}}
  </div>

</body>
</html>
