<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body class="w-100">

  <div class="pa3 mw7 center">
    {{>header}}
  </div>
    <main>
      <div class="f4 pl3 pr3 center">
        <h1 class="f2">{{title}}</h1>
      </div>
      <article class="measure lh-copy f4 pl3 pr3 mw7 center">
        {{{ contents }}}
      </article>
    </main>

    {{>footer}}
  </div>
{{>foot}}
</body>
</html>
