<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>
</head>
<body>

  {{>header}}

  <main>
    {{{ contents }}}
  </main>

  {{>footer}}

</body>
</html>
