<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body>

  <div class="container">
    {{>header}}

    <main>
      {{{ contents }}}
    </main>

    {{>footer}}
  </div>

</body>
</html>
