<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Alex Jegtnes</title>

  {{>head}}
</head>
<body class="w-100">

  <div class="pa3 mw7 center">
    {{>header}}
  </div>
  <main>
    <div class="f4 pl3 pr3 mw7 center">
      <h1 class="f3 f2-m f1-l ttu mb3">{{title}}</h1>
      <p class="f4 f3-ns">{{date}}</p>
      <article class="measure lh-copy f5 f3-ns markdown-content">
        {{{ contents }}}
      </article>
    </div>
  </main>

  {{>footer}}
  {{>foot}}
</body>
</html>
