---
layout: global.njk
permalink: /blog/{{ title | slugify }}/
---

<article class="container flow h-entry">
  <h1 class="p-name">{{ title }}</h1>
  <time class="dt-published" datetime={{date | isoPostDate}}>{{date | humanPostDate}}</time>
  <div class="e-content flow">
    {{ content | safe }}
  </div>
</article>
