---
layout: global.njk
---

<section>
  <h1>{{ title }}</h1>
  <ol>
    {% for post in collections.post | reverse %}
      <li>
        <a href={{post.data.href}}>
          <h2>{{post.data.title}}</h2>
          <p>{{post.data.excerpt}}</p>
        </a>
      </li>
    {% endfor %}
  </ol>
</section>
