---
layout: global.njk
---

<div class="container flow">
  <h1>{{ title }}</h1>
  {% for post in collections.post | reverse %}
    <article>
      <a href={{post.data.page.url}}>
        <h2>{{post.data.title}}</h2>
      </a>
      <time class="spacing-block-end" datetime={{post.data.date | isoPostDate}}>
        {{post.data.date | humanPostDate}}
      </time>
      <p>{{post.data.excerpt}}</p>
    </article>
  {% endfor %}
</div>