{% if twitterLabel1 and twitterData1 and twitterLabel2 and twitterData2 %}
  {% set custom = [
      { tag: 'meta', attrs: { name: "twitter:label1", content: twitterLabel1 } },
      { tag: 'meta', attrs: { name: "twitter:data1", content: twitterData1 } },
      { tag: 'meta', attrs: { name: "twitter:label2", content: twitterLabel2 } },
      { tag: 'meta', attrs: { name: "twitter:data2", content: twitterData2 } }
  ] %}
{% endif %}
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    {% metagen
      title=title + " | " + global.siteName,
      desc=description or excerpt,
      url=global.baseUrl + page.url,
      twitter_card_type="summary",
      twitter_handle="jegtnes",
      name="Alex Jegtnes",
      locale="en_GB",
      generator=eleventy.generator,
      custom=custom,
      css=["/assets/styles/styles.css"]
    %}
    <link rel="icon" href="/favicon.ico" sizes="48x48" >
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body>
    {% include './_partials/header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    {% include './_partials/footer.njk' %}
  </body>
</html>