---
layout: global.njk
---

<article class="marius-section">
  <header class="container marius-section">
    {% if introHalfBleed %}
      <div class="half-bleed flow">
    {% endif %}

    {% if (headline or title) %}
      {% if headline %}
        <h1>{{ headline }}</h1>
      {% elseif title %}
        <h1>{{title}}</h1>
      {% endif %}
      {% if updated %}
        <p class="italic">Last updated on <time class="dt-updated" datetime="{{date | isoPostDate}}">{{date | humanPostDate}}</time>.</p>
      {% endif %}
    {% endif %}

    {% if (intro and not introHalfBleed) %}
      <div class="flow-spacing">{{ intro | safe }}</div>
    {% elseif intro %}
      {{ intro | safe }}
    {% endif %}

    {% if introHalfBleed %}
      </div>
    {% endif %}
  </header>

  <div class="container flow">
    {{ content | safe }}
  </div>
</div>