---
layout: global.njk
---

<article class="container flow">
  {% if headline %}
    <h1>{{ headline }}</h1>
  {% elseif title %}
    <h1>{{title}}</h1>
  {% endif %}
  {{ content | safe }}
</article>