$red:   #cc1414;
$black: #333333;

$white: #eee;

.bg-jegtnes-black {
  background-color: $black;
}

.bg-jegtnes-white {
  background-color: $white;
}

.jegtnes-black {
  color: $black;
}

.jegtnes-white {
  &,
  & a:visited {
    color: $white;
  }
}
