@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/titilliumweb-semibolditalic.woff2') format('woff2'),
       url('../fonts/titilliumweb-semibolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
