@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/alegreya-regular.woff2') format('woff2'),
       url('../fonts/alegreya-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans Bold';
  src: url('../fonts/alegreyasans-bold.woff2') format('woff2'),
       url('../fonts/alegreyasans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans Italic';
  src: url('../fonts/alegreyasans-italic.woff2') format('woff2'),
       url('../fonts/alegreyasans-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/alegreyasans-regular.woff2') format('woff2'),
       url('../fonts/alegreyasans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
