.markdown-content {
  pre[class*="language-"] {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0;
  }

  img,
  picture {
    max-width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .embed {
    max-width: 100%;
  }

  a {
    @extend .jegtnes-link;
  }
}
