.markdown-content {
  pre[class*="language-"] {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0;
  }

  img,
  picture {
    max-width: calc(100vw - 2em);
  }

  a {
    @extend .jegtnes-link;
  }
}
