@media screen {
  .print-only {
    display: none !important;
  }
}

@media print {
  .screen-only,
  #site-header,
  #site-footer {
    display: none !important;
  }

  #cv section > section {
    page-break-inside: avoid;
  }

  #cv {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include system-font;
    }
  }
}