@import "font-face";

.headline-loaded {
  h1, h2, h3, h4, h5, h6, .headline {
    font-family: 'TitilliumWeb', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
  }
}

/*!
 * System font stack. Thanks to Marcin Wichary:
 * https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
 */

body {
  font-family:
    -apple-system,      // OS X 10.11+
    BlinkMacSystemFont, // OS X 10.11+ (Chrome/Opera)
    "Segoe UI",         // Windows
    "Roboto",           // Android 4+
    "Oxygen",           // KDE
    "Ubuntu",           // …guess
    "Cantarell",        // GNOME
    "Fira Sans",        // Firefox OS
    "Droid Sans",       // Android 3-
    "Helvetica Neue",   // OS X 10.10-
    sans-serif;         // ¯\_(ツ)_/¯
}

.link {
  color: $black;

  &:visited {
    color: lighten($black, 10%);
  }

  &:hover,
  &:focus {
    &,
    &:visited {
      color: $red;
    }
  }
}

// Avoid the default :visited colour change. Useful for header links etc.
.no-visited {
  &,
  &:visited {
    color: inherit;
  }
}

.link-inverse {
  &,
  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $red;
  }
}

.jegtnes-link {
  &,
  &:visited {
    color: $red;
  }

  &:hover,
  &:focus {
    &,
    &:visited {
      color: darken($red, 10%)
    }
  }
}

// smallcaps:
.sc {
  font-variant: small-caps;
}

.lh-copy {
  line-height: 1.5;
}
