@import "font-face";

.js-headline-loaded {
  h1, h2, h3, h4, h5, h6, .headline {
    font-family: 'TitilliumWeb', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-indent: -.075em;
  }
}

/*!
 * System font stack. Thanks to Marcin Wichary:
 * https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
 */

body {
  font-family:
    -apple-system,      // OS X 10.11+
    BlinkMacSystemFont, // OS X 10.11+ (Chrome/Opera)
    "Segoe UI",         // Windows
    "Roboto",           // Android 4+
    "Oxygen",           // KDE
    "Ubuntu",           // …guess
    "Cantarell",        // GNOME
    "Fira Sans",        // Firefox OS
    "Droid Sans",       // Android 3-
    "Helvetica Neue",   // OS X 10.10-
    sans-serif;         // ¯\_(ツ)_/¯
}

// smallcaps:
.sc {
  font-variant: small-caps;
}

.lh-copy {
  line-height: 1.5;
}
