:root {
  --color-black: oklch(5% 0 0);
  --color-white: oklch(100% 0 0);

  --color-brand-primary: var(--norway-red-550);
  --color-brand-secondary: var(--norway-blue-750);
  --color-blue-light: var(--norway-blue-150);
  --color-blue-lighter: var(--fjord-blue-50);

  --norway-red-950: oklch(5%  0.017 23);
  --norway-red-900: oklch(10% 0.037 23);
  --norway-red-850: oklch(15% 0.06  23);
  --norway-red-800: oklch(20% 0.084 23);
  --norway-red-750: oklch(25% 0.109 23);
  --norway-red-700: oklch(30% 0.13  23);
  --norway-red-650: oklch(35% 0.153 23);
  --norway-red-600: oklch(40% 0.174 23);
  --norway-red-550: oklch(45% 0.196 23);
  --norway-red-500: oklch(50% 0.218 23);
  --norway-red-450: oklch(55% 0.24  23);
  --norway-red-400: oklch(60% 0.217 23);
  --norway-red-350: oklch(65% 0.187 23);
  --norway-red-300: oklch(70% 0.156 23);
  --norway-red-250: oklch(75% 0.128 23);
  --norway-red-200: oklch(80% 0.098 23);
  --norway-red-150: oklch(85% 0.068 23);
  --norway-red-100: oklch(90% 0.042 23);
  --norway-red-50:  oklch(95% 0.018 23);

  --norway-blue-950: oklch(5%  0.017 261);
  --norway-blue-900: oklch(10% 0.037 261);
  --norway-blue-850: oklch(15% 0.06  261);
  --norway-blue-800: oklch(20% 0.084 261);
  --norway-blue-750: oklch(25% 0.109 261);
  --norway-blue-700: oklch(30% 0.13  261);
  --norway-blue-650: oklch(35% 0.153 261);
  --norway-blue-600: oklch(40% 0.174 261);
  --norway-blue-550: oklch(45% 0.196 261);
  --norway-blue-500: oklch(50% 0.218 261);
  --norway-blue-450: oklch(55% 0.24  261);
  --norway-blue-400: oklch(60% 0.217 261);
  --norway-blue-350: oklch(65% 0.187 261);
  --norway-blue-300: oklch(70% 0.156 261);
  --norway-blue-250: oklch(75% 0.128 261);
  --norway-blue-200: oklch(80% 0.098 261);
  --norway-blue-150: oklch(85% 0.068 261);
  --norway-blue-100: oklch(90% 0.042 261);
  --norway-blue-50:  oklch(95% 0.018 261);

  --fjord-blue-950: oklch(5%  0.015 217.4);
  --fjord-blue-900: oklch(10% 0.015 217.4);
  --fjord-blue-850: oklch(15% 0.025 217.4);
  --fjord-blue-800: oklch(20% 0.034 217.4);
  --fjord-blue-750: oklch(25% 0.046 217.4);
  --fjord-blue-700: oklch(30% 0.053 217.4);
  --fjord-blue-650: oklch(35% 0.063 217.4);
  --fjord-blue-600: oklch(40% 0.071 217.4);
  --fjord-blue-550: oklch(45% 0.081 217.4);
  --fjord-blue-500: oklch(50% 0.089 217.4);
  --fjord-blue-450: oklch(55% 0.098 217.4);
  --fjord-blue-400: oklch(60% 0.107 217.4);
  --fjord-blue-350: oklch(65% 0.117 217.4);
  --fjord-blue-300: oklch(70% 0.126 217.4);
  --fjord-blue-250: oklch(75% 0.134 217.4);
  --fjord-blue-200: oklch(80% 0.139 217.4);
  --fjord-blue-150: oklch(85% 0.106 217.4);
  --fjord-blue-100: oklch(90% 0.066 217.4);
  --fjord-blue-50:  oklch(95% 0.066 217.4);

  --forest-green-900: oklch(10% 0.029 141);
  --forest-green-850: oklch(15% 0.046 141);
  --forest-green-800: oklch(20% 0.065 141);
  --forest-green-750: oklch(25% 0.083 141);
  --forest-green-700: oklch(30% 0.1 141);
  --forest-green-650: oklch(35% 0.116 141);
  --forest-green-600: oklch(40% 0.133 141);
  --forest-green-550: oklch(45% 0.15 141);
  --forest-green-500: oklch(50% 0.166 141);
  --forest-green-450: oklch(55% 0.183 141);
  --forest-green-400: oklch(60% 0.2 141);
  --forest-green-350: oklch(65% 0.216 141);
  --forest-green-300: oklch(70% 0.233 141);
  --forest-green-250: oklch(75% 0.249 141);
  --forest-green-200: oklch(80% 0.258 141);
  --forest-green-150: oklch(85% 0.262 141);
  --forest-green-100: oklch(90% 0.18 141);

  --cabbage-purple-900: oklch(10% 0.041 321);
  --cabbage-purple-850: oklch(15% 0.065 321);
  --cabbage-purple-800: oklch(20% 0.091 321);
  --cabbage-purple-750: oklch(25% 0.117 321);
  --cabbage-purple-700: oklch(30% 0.141 321);
  --cabbage-purple-650: oklch(35% 0.164 321);
  --cabbage-purple-600: oklch(40% 0.188 321);
  --cabbage-purple-550: oklch(45% 0.211 321);
  --cabbage-purple-500: oklch(50% 0.235 321);
  --cabbage-purple-450: oklch(55% 0.258 321);
  --cabbage-purple-400: oklch(60% 0.282 321);
  --cabbage-purple-350: oklch(65% 0.305 321);
  --cabbage-purple-300: oklch(70% 0.285 321);
  --cabbage-purple-250: oklch(75% 0.232 321);
  --cabbage-purple-200: oklch(80% 0.176 321);
  --cabbage-purple-150: oklch(85% 0.123 321);
  --cabbage-purple-100: oklch(90% 0.075 321);
}