:root {
  --color-black: #222222;
  --color-brand: #CC1414;
  --color-brand-dark: #9E0F0F;
  --color-white: #FFFFFF;
  --color-blue: #3375B7;
  --color-blue-dark: #3375B7;
  --color-purple: #8A31BB;
}