:root {
  /* Kudos to https://github.com/tmcw/systemfontstack */
  --font-system: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica, Cantarell, Ubuntu, Roboto, Noto, Arial, sans-serif;
  --font-system-humanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --font-brand: "Noord Regular", var(--font-system);
  /* Type scales:
   * https://utopia.fyi/type/calculator?c=320,16,1.25,1920,20,1.5,4,2,1024&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
   */
  --step--1: clamp(0.8333rem, 0.7749rem + 0.2919vi, 1.1253rem);
  --step-0: clamp(1rem, 0.9rem + 0.5vi, 1.5rem);
  --step-1: clamp(1.2rem, 1.0401rem + 0.7995vi, 1.9995rem);
  --step-2: clamp(1.44rem, 1.1949rem + 1.2253vi, 2.6653rem);
  --step-3: clamp(1.728rem, 1.363rem + 1.8249vi, 3.5529rem);
  --step-4: clamp(2.0736rem, 1.5411rem + 2.6624vi, 4.736rem);
  --step-5: clamp(2.4883rem, 1.7234rem + 3.8248vi, 6.3131rem);

  /* Spacing scales:
   * https://utopia.fyi/space/calculator?c=320,16,1.2,1920,24,1.333,5,1,1024&s=0.75|0.5|0.25,1.5|2|4|6,s-l&g=s,l,xl,12
   */
  --space-3xs: clamp(0.25rem, 0.225rem + 0.125vi, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.45rem + 0.25vi, 0.75rem);
  --space-xs: clamp(0.75rem, 0.675rem + 0.375vi, 1.125rem);
  --space-s: clamp(1rem, 0.9rem + 0.5vi, 1.5rem);
  --space-m: clamp(1.5rem, 1.35rem + 0.75vi, 2.25rem);
  --space-l: clamp(2rem, 1.8rem + 1vi, 3rem);
  --space-xl: clamp(4rem, 3.6rem + 2vi, 6rem);
  --space-2xl: clamp(6rem, 5.4rem + 3vi, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.15rem + 0.5vi, 0.75rem);
  --space-2xs-xs: clamp(0.5rem, 0.375rem + 0.625vi, 1.125rem);
  --space-xs-s: clamp(0.75rem, 0.6rem + 0.75vi, 1.5rem);
  --space-s-m: clamp(1rem, 0.75rem + 1.25vi, 2.25rem);
  --space-m-l: clamp(1.5rem, 1.2rem + 1.5vi, 3rem);
  --space-l-xl: clamp(2rem, 1.2rem + 4vi, 6rem);
  --space-xl-2xl: clamp(4rem, 3rem + 5vi, 9rem);
}

body {
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-system-humanist);
  font-size: var(--step-0);
}

main {
  /* why the fucking fuck is this a thing I spent TWO HOURS on this */
  /* https://css-tricks.com/preventing-a-grid-blowout/ */
  min-width: 0;
}

.flow > * + *,
.flow > dl > * { 
  margin-block-start: var(--flow-space, 1em)
}

.flow--spacious {
  --flow-space: var(--space-m-l);
}

.container {
  width: 100%;
  max-width: 70rem;
  padding-inline: var(--space-s-m);
  margin-inline: auto;
}

footer {
  margin-block-start: var(--space-s-m);
  border-block-start: 1px solid black;
  padding-block-start: var(--space-s-m);
  padding-block-end: var(--space-s-m);
}

a {
  color: var(--color-blue);
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
}

a:hover,
a:focus {
  text-decoration-thickness: 0.2em;
  outline: none;
}

a:visited {
  color: var(--color-purple);
}

time {
  display: block;
}

blockquote {
  border-inline-start: var(--space-2xs) solid var(--color-brand);
  font-size: 1.2em;
  font-style: italic;
  padding: var(--space-2xs) var(--space-s);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-grid--equal > * {
  flex-grow: 1;
  flex-basis: calc((45rem - 100%) * 999);
}

nav ul {
  padding-inline-start: 0;
}

nav ul li {
  display: inline;
  list-style: none;
}

.btn {
  display: inline-block;
  border: var(--space-2xs) solid var(--color-brand);
  border-radius: var(--space-xs);
  text-decoration: none;
  background-color: var(--color-brand);
  padding: var(--space-xs);
  line-height: 1;
}

.btn,
.btn:visited {
  color: var(--color-white);
}

.btn:hover,
.btn:focus {
  background-color: var(--white);
  color: var(--color-brand);
}

.spacing-block-end {
  margin-block-end: var(--space-2xs-xs);
}


:not(pre) > code[class*="language-"] {
  display: inline-block;
  font-size: .8em;  
  padding: 0 .33em;
}