:root {
  /* Kudos to https://github.com/tmcw/systemfontstack */
  --font-system: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica, Cantarell, Ubuntu, Roboto, Noto, Arial, sans-serif;

  /* Type scales:
   * https://utopia.fyi/type/calculator?c=320,16,1.25,1920,24,1.5,4,2,1024&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
   */
  --step--2: clamp(0.64rem, calc(0.63rem + 0.03vw), 0.67rem);
  --step--1: clamp(0.80rem, calc(0.76rem + 0.20vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.90rem + 0.50vw), 1.50rem);
  --step-1: clamp(1.25rem, calc(1.05rem + 1.00vw), 2.25rem);
  --step-2: clamp(1.56rem, calc(1.20rem + 1.81vw), 3.38rem);
  --step-3: clamp(1.95rem, calc(1.33rem + 3.11vw), 5.06rem);
  --step-4: clamp(2.44rem, calc(1.41rem + 5.15vw), 7.59rem);

  /* Spacing scales:
   * https://utopia.fyi/space/calculator?c=320,16,1.2,1920,24,1.25,5,2,&s=0.5|0.25,1.5|2|4|6,
   */
  --space-2xs: clamp(0.25rem, calc(0.23rem + 0.13vw), 0.38rem);
  --space-xs: clamp(0.50rem, calc(0.45rem + 0.25vw), 0.75rem);
  --space-s: clamp(1.00rem, calc(0.90rem + 0.50vw), 1.50rem);
  --space-m: clamp(1.50rem, calc(1.35rem + 0.75vw), 2.25rem);
  --space-l: clamp(2.00rem, calc(1.80rem + 1.00vw), 3.00rem);
  --space-xl: clamp(4.00rem, calc(3.60rem + 2.00vw), 6.00rem);
  --space-2xl: clamp(6.00rem, calc(5.40rem + 3.00vw), 9.00rem);

  /* One-up pairs */
  --space-2xs-xs: clamp(0.25rem, calc(0.15rem + 0.50vw), 0.75rem);
  --space-xs-s: clamp(0.50rem, calc(0.30rem + 1.00vw), 1.50rem);
  --space-s-m: clamp(1.00rem, calc(0.75rem + 1.25vw), 2.25rem);
  --space-m-l: clamp(1.50rem, calc(1.20rem + 1.50vw), 3.00rem);
  --space-l-xl: clamp(2.00rem, calc(1.20rem + 4.00vw), 6.00rem);
  --space-xl-2xl: clamp(4.00rem, calc(3.00rem + 5.00vw), 9.00rem);
}

body {
  padding: var(--space-s-m);
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-system);
  font-size: var(--step-0);
}

h1,
.alpha {
  font-size: var(--step-3);
  line-height: 1.1;
}

h2,
.beta {
  font-size: var(--step-2);
}

h3,
.gamma {
  font-size: var(--step-1);
}

h4,
.delta {
  font-size: var(--step-0);
}

h1,
h2,
h3,
h4,
.alpha,
.beta,
.gamma,
.delta {
  font-weight: bold;
  line-height: 1.1;
}

h1, .alpha {
  max-width: 22.5ch;
}

h2,
.beta { 
  max-width: 30ch;
}

h3,
.gamma {
  max-width: 40ch;
}

p,
li,
blockquote {
  max-width: 60ch;
}

.flow > * + *,
.flow > dl > * { 
  margin-top: var(--flow-space, 1em)
}

.container {
  width: 100%;
  max-width: 70rem;
  margin-inline: auto;
}

footer {
  margin-top: var(--space-s-m);
}

a {
  color: var(--color-blue);
}

a:visited {
  color: var(--color-purple);
}

time {
  display: block;
}

blockquote {
  border-left: var(--space-2xs) solid var(--color-brand);
  font-size: 1.2em;
  font-style: italic;
  padding: var(--space-2xs) var(--space-s);
}
