---
permalink: assets/styles/styles.css
---
{% include "./reset.css" %}

{% include "./fonts.css" %}

{% include "./colors.css" %}
{% include "./synthwave-84.css" %}

{% include "./global.css" %}
{% include "./header.css" %}
