h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noord Regular";
  font-weight: 500;
  text-wrap: balance;
}

.hefty-boi {
  font-size: var(--step-5);
  line-height: 1.1;
}

h1,
.alpha {
  font-size: var(--step-4);
  line-height: 1.1;
}

h2,
.beta {
  font-size: var(--step-3);
  line-height: 1.1;
}

h3,
.gamma {
  font-size: var(--step-2);
  line-height: 1.25;
}

h4,
.delta {
  font-size: var(--step-1);
  line-height: 1.25;
}

.epsilon {
  font-size: var(--step-0);
  line-height: 1.4;
}

.zeta {
  font-size: var(--step--1);
  line-height: 1.4;
}
