---
headline: Hi there! I’m  Alex.
title: Home
description: >-
  I’m an independent web development contractor based in London with ten years
  of experience. I develop fast, accessible, and beautiful websites and web apps.
layout: page.njk
introHalfBleed: true
eleventyComputed:
  intro: >-
    <img src="/assets/images/face.jpg" width="700" height="875" class="image-inline" loading="eager" decoding="sync" alt="A photo of me, cropped at just below the shoulders. I have shoulder-length, wavy, blond hair, blue eyes, and wearing black, rounded rectangular glasses." />
    <p>I’m an independent web development contractor based in London with ten years of experience. I develop fast, accessible, and beautiful websites and web apps for everything from small design studios to banks and newspapers.</p>
    <p>At the heart of my approach is facilitating excellent cross-team communication without getting bogged down in bike-shedding, breaking down barriers to collaboration, and helping find that ever-tricky balance between perfection and shipping.</p>
    {% if global.longAvailability %}
      <p>{{ global.longAvailability | safe }}</p>
      <a class="btn" href="/work-with-me#quick-summary">See what I can do for your organisation</a>
    {% endif %}
---

<section class="flow flow--spacious h-feed">
  <h2>Latest blog posts</h2>
  {% set newestPosts = collections.post | reverse %}
  {% for post in newestPosts.slice(0,2) %}
    <article class="h-entry">
      <a class="u-url" href="{{post.data.page.url}}">
        <h3 class="p-name">{{post.data.title}}</h3>
      </a>
      <time class="dt-published spacing-block-end" datetime="{{post.data.date | isoPostDate}}">
        {{post.data.date | humanPostDate}}
      </time>
      <p>{{post.data.excerpt}}</p>
    </article>
  {% endfor %}

  <p><a href="/blog">View older blog posts</a></p>
</section>
