<nav>
  <ul>
    {% for item in nav.items %}
      <li>
        <a
          href={{item.url}}
          {% ariaCurrent item.url, page.url %}
          {% activeSection item.url, page.url %}
        >
          {{item.label}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
